@font-face {
  font-family: 'MADE Evolve Sans Bold';
  src: url('../fonts/MADEEvolveSans-Bold.eot');
  src: url('../fonts/MADEEvolveSans-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/MADEEvolveSans-Bold.woff') format('woff'),
      url('../fonts/MADEEvolveSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'MADE Evolve Sans';
  src: url('../fonts/MADEEvolveSans.eot');
  src: url('../fonts/MADEEvolveSans.eot?#iefix') format('embedded-opentype'),
      url('../fonts/MADEEvolveSans.woff') format('woff'),
      url('../fonts/MADEEvolveSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MADE Evolve Sans Light';
  src: url('../fonts/MADEEvolveSans-Light.eot');
  src: url('../fonts/MADEEvolveSans-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/MADEEvolveSans-Light.woff') format('woff'),
      url('../fonts/MADEEvolveSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'MADE Evolve Sans Medium';
  src: url('../fonts/MADEEvolveSans-Medium.eot');
  src: url('../fonts/MADEEvolveSans-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/MADEEvolveSans-Medium.woff') format('woff'),
      url('../fonts/MADEEvolveSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MADE Evolve Sans Thin';
  src: url('../fonts/MADEEvolveSans-Thin.eot');
  src: url('../fonts/MADEEvolveSans-Thin.eot?#iefix') format('embedded-opentype'),
      url('../fonts/MADEEvolveSans-Thin.woff') format('woff'),
      url('../fonts/MADEEvolveSans-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'SignPainter HouseScript';
  src: url('../fonts/SignPainterHouseScript.eot');
  src: url('../fonts/SignPainterHouseScript.eot?#iefix') format('embedded-opentype'),
      url('../fonts/SignPainterHouseScript.woff') format('woff'),
      url('../fonts/SignPainterHouseScript.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}