@media (max-width: 670px)
  .header
    &-input
      padding: 15px 25px
  .location
    &-tabs
    &-image
      width: 65%
    &-information
      margin-left: 0
      width: 100%
      &-paragraph
        width: 95%
      &__btn
        width: fit-content
        width: auto
    &-block__link
      min-height: 40px
      justify-content: center

  .items-block
    width: 50%
  .test
    &-title__discount
      max-width: 450px
    &-block
      &__offers
        max-width: 220px
        min-height: 46px
        display: flex
        justify-content: center
        align-items: center
        img
          width: 95px
          top: -20px
          left: -50px
      &__expert
      &__left
        width: 100%
        border-radius: 10px 10px 0 0
      &__right
        width: 100%
        border-radius: 0 0 10px 10px

  .organization
    &-form
      &:after
        display: none
      &-right
        width: 90%

  .block-circle
    width: 33px
    height: 33px

  .left-block__title
    text-align: center
  .checkbox-wrap
    justify-content: flex-start
  .checkbox-block
    padding-left: 0

  .expert__desc
    // width: 80%
    // margin: 17px auto
    // text-align: center
    // &:after
    //   left: 50%
    //   transform: translateX(-50%) rotate(45deg)
  .slider-certificates 
    & .slick-arrow
      width: 40px
      height: 40px
      &.slick-prev
        left: 10px
      &.slick-next
        right: 10px
    & .slick-dots
      bottom: -30px
      & li button
        padding: 0
        width: 16px
        height: 16px
  .certificate
    &-block
      &-image
        width: 60%
        max-height: 480px

  .offer__text
    width: 65%

  .quest-slide
    &-images
      flex-direction: column-reverse
    &-text
      width: 65%
    &-left
      width: 100%
      justify-content: space-around
      img
        width: 40%
    &-right
      width: 80%
      margin-bottom: 25px
  .videoplay
    width: 40px
    height: 40px
    &:before
      width: 54px
      height: 54px

  .pagination__left-btn
    margin-right: 20px
  .pagination__right-btn
    margin-left: 20px
  .pagination__item
    margin-left: 5px
    margin-right: 5px
  .pagination_arrow
    width: 40px
    height: 40px

  .people-prof
    &__photo
      min-height: 38vw
    &__desc
      &-name
      &-inside
      &-text
      &-prgf
    &-slider
      & .pagination__left-btn
        display: none
      & .pagination__right-btn
        display: none
  .slider-nav-block
    width: 87%
    min-height: auto
  .reviews-slider .slick-arrow.slick-prev
    left: calc(50% - 43%)
  .reviews-slider .slick-arrow.slick-next
    right: calc(50% - 43%)
  .reviews-slider .slick-arrow
    width: 40px
    height: 40px
  .reviews-wrapper-btn
    margin-bottom: 30px
  #myMap
    height: 280px
  .programs
    &-title
    &-desc
    &-wrap
      flex-direction: column
    &-inp
      width: 100%
      margin-bottom: 15px
      &:nth-child(1) .inp-block__wrap,
      &:nth-child(2) .inp-block__wrap,
      &:nth-child(3) .inp-block__wrap
        min-width: auto
        margin-left: 0
        margin-right: 0
  .inp-block
    justify-content: space-between
    min-height: auto
  .inp-title
    font-size: 15px

  .people-slider-nav
    & .slick-dots
      bottom: 30px
    & li
      margin: 0 7px
      & button
        width: 12px
        height: 12px
        padding: 0
    &__item
      min-height: auto
      &-name
        display: none
  .nav-item__desc
    display: none
  .people-prof-slider
    & .slick-arrow
      width: 35px
      height: 35px
      &.slick-prev
        left: -30px
        &:before
          height: 15px
          width: 10px
      &.slick-next
        right: -30px
        &:before
          height: 15px
          width: 10px

  .footer
    &-title
      width: 80%
    &-label
      flex-wrap: wrap
      justify-content: center
      img
        margin: 0 auto 20px
    &-policy-lnk
      text-align: center
    &-developer-lnk
      text-align: center
      margin-top: 8px
    &-contacts
      flex-direction: column
    &-block
      &-map
        margin-right: 0
        margin-bottom: 30px
        width: 100%
      &-contact
        width: 100%
        text-align: center
    &-text
      max-width: 320px
    &-phone
      margin-right: 0
    &-address
      justify-content: center
    &-btn
      margin: 20px auto
      padding-right: 30px
      font-size: 14px
      img
        margin-right: 20px
  .details
    &-program
      width: 80%
      padding: 30px 40px
    &-price
      span
        font-size: 18px
    &-btn
      padding: 13px 10px
      font-size: 13px
      margin-left: 10px
    &_input
      width: 70%
    &-form
      &__btn
        width: 70%
    &__offer
      width: 70%
      margin: 10px auto
      text-align: center
  .policy
    width: 90%
    padding: 20px 25px
    &-closed
      font-size: 24px
      top: 12px
      right: 14px
    &-title
      font-size: 17px
      margin-bottom: 10px
    &-subtitle
      font-size: 14px
      line-height: 17px
      margin-bottom: 10px
    & .policy-sub-desc
      font-size: 13px
    p
      font-size: 13px